.input-no-outline{
    outline-width: 0;
}

.basic-select{
    background: white;
    min-height: 40px;
    text-align: left;
    color: #35495e;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border-style: none;
    outline: transparent;
    width: 350px;
    margin-bottom: 1rem;
}

.filter-search-input{
    flex-grow: 1;
    height: 2rem;
    margin: 1rem 0;
    padding: 1.2rem 3rem 1.2rem 1.2rem;
    border-radius: 2rem;
    border-style: none;
    background: white;
}

.btn-underline.active{
	border-bottom: $octopus-primary-color 2px solid;
}