html{
  font-size: 20px;
}

body{
  color: #353535;
  font-family: Montserrat,sans-serif,Helvetica Neue;
  font-size: 0.8rem;
  overflow-x: hidden;
  background: #fff;
}

h1{
  font-size: 1.8rem;
  text-align: center;
  color: #666;
  @media (max-width: 500px){
    font-size: 1.2rem;
  }
}
h2{
  @media (max-width: 500px){
    font-size: 1.2rem;
  }
}

.small-Text{
  font-size: 0.6rem;
  display: flex;
    align-items: center;
    .saooti-clock3 {
      margin-right: 0.2rem;
    }
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5em;
  margin-top: 0;
  @media (max-width: 500px){
    margin-bottom: 10px;
  }
}

.primary-color{
  color: $octopus-primary-color;
}
.primary-dark{
  color: $octopus-primary-dark;
}

.primary-bg{
  background: $octopus-primary-color;
}
.secondary-bg{
  background: $octopus-background;
}

.border-primary{
  border-color:$octopus-primary-color !important;
  border-radius: 3rem;
  border-radius: 3rem;
  border-style: inset;
  border-width: 1px;;
}

.pr-5 {
	@media (max-width: 960px) {
		padding-right: 5px !important;
	}
}
.pl-5 {
	@media (max-width: 960px) {
		padding-left: 5px !important;
	}
}

.page-box{
  background-color: $octopus-background;
  padding: 2rem 5rem;
  border-radius: 2rem 2rem 0 0;
  @media (max-width: 1400px) {
    padding: 2rem;
  }
  @media (max-width: 1200px) {
    padding: 1rem;
  }
  @media (max-width: 400px) {
    padding: 1rem 5px;
  }
}

.module-box{
  background-color: $octopus-secondary-background;
  padding: 1.5rem;
  margin: 1rem 0.5rem 0 0.5rem;
  border-radius: 1rem;
  flex-grow: 1;
  @media (max-width: 500px){
    margin: 0.3rem;
    padding: 0.3rem;
  }
}

.shadow-element{
  box-shadow: 0px 12px 48px 6px rgba($octopus-primary-color, 0.2) !important;
  @media (max-width: 500px){
    box-shadow:0px 6px 20px 3px rgba($octopus-primary-color, 0.2) !important
  }
}

.link-info{
  font-weight: bold;
  color: $octopus-primary-color;
}
.link-info:hover{
  text-decoration: none;
  color: $octopus-primary-color;
}

a:hover{
  text-decoration: none;
}

a.linkHover.router-link-exact-active.router-link-active {
  color: $octopus-primary-color !important;
}

a.linkHover:hover{
  color: $octopus-primary-color !important;
}

.descriptionText{
  white-space: pre-wrap; 
  word-wrap: break-word;
  text-align: justify;
  font-size: 0.7rem;
}

.alert-text{
  color: $octopus-alert-text;
}
.flex-grow{
  flex-grow: 1;
}
.flex-super-grow{
  flex-grow: 2;
}
.flex-shrink{
  flex-shrink: 0;
}
.text-center-mobile{
  text-align: inherit;
  @media (max-width: 960px) {
    text-align: center;
  }
}

.hide-phone{
  @media (max-width: 960px) {
    display: none !important;
  }
}

.show-phone{
  display: none;
  @media (max-width: 960px) {
    display: block !important;
  }
}
.hid{
  visibility: hidden !important;
}


.d-contents{
  display: contents;
}

.img-box {
  height: 13rem;
  width: 13rem;
  background-size: cover;
  border-radius: 0.8rem !important;
}
.img-box-light {
  height: 100px;
  width: 100px;
  background-size: cover;
  margin-right: 10px;
}

.img-box-circle {
  height: 10rem;
  width: 10rem;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 0.2rem 1rem rgba(48, 55, 66, 0.3);
}

.background-icon{
  background: $octopus-primary-color;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  right: 0;
  bottom: 0;
  margin: 5px;
  position: absolute;
  cursor: pointer;
  z-index: 3;
}


.icon-caution{
  margin-right: 5px;
  margin-bottom: 5px;
  height: 15px;
}

.comma {
  > a {
    text-transform: capitalize;
    &:after {
      content: ", ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
  }
}

.noList{
  list-style: none;
}
.c-hand{
  cursor: pointer;
}

.btn-rounded-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
}

.description-fade{
	position: relative;
  height: 3rem;
  font-weight: 500;
  white-space: pre-wrap;
  font-size: 0.6rem;
  margin: 1em 0 0.5em;
  overflow: hidden;
  text-align: start;
  &:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1rem;
    background: linear-gradient(to right, rgba(255,255,255,0), $octopus-background 50%);
  }
}
.font-weight-600{
  font-weight: 600;
}
.flex-no-wrap{
  flex-wrap: nowrap !important;
}
@media (max-width: 655px) {
  .description-fade-hid{
    display: none;
  }
}

@media (max-width: 960px) {
  .d-flex:not(.flex-column){
    flex-wrap: wrap;
    flex-grow: 1;
    &.img-box{
      flex-grow: 0;
    }
  }
}


